<div fxLayout="column" fxLayoutAlign="center center">
  <nz-card
    #node
    class="node"
    style="width:150px;height:150px;margin-right:20px"
    [nzTitle]="'Node-' + level"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="space-evenly center"
      style="height: 100%;"
    >
      <div>
        <label><b>Val:</b></label>
        <input type="number" [value]="byVal" (change)="onValChange($event)" />
      </div>
      <div>
        <label><b>Ref:</b></label>
        <input
          type="number"
          [value]="byRef.id"
          (change)="onRefChange($event)"
        />
      </div>
    </div>
  </nz-card>

  <ng-container *ngIf="deep > 0">
    <div fxLayout="row" fxLayoutAlign="center center">
      <app-tree-node
        *ngFor="let b of branches"
        [deep]="deep"
        [branch]="branch"
        [byVal]="byVal"
        [byRef]="byRef"
        [max]="max"
      ></app-tree-node>
    </div>
  </ng-container>
</div>
