<div fxLayout="column" fxLayoutAlign="center center" class="container">
  <div class="config">
    <span class="input">
      <label for="deep">deep:</label>
      <input
        type="number"
        [value]="deep"
        (input)="onChangeDeep($event.target.value)"
        id="deep"
        min="0"
      />
    </span>
    <span class="input">
      <label for="branch">branch:</label>
      <input
        type="number"
        [value]="branch"
        (input)="onChangeBranch($event.target.value)"
        id="branch"
        min="0"
      />
    </span>
    <ng-container #container> </ng-container>
  </div>

  <ng-template #tree>
    <div fxLayout="column" fxLayoutAlign="center center">
      <nz-card style="width:200px;" nzTitle="App Component">
        <div fxLayout="column" fxLayoutAlign="center center">
          <button (click)="(onButtonClick)">click</button>
          <input type="number" [(ngModel)]="pass" />
        </div>
      </nz-card>

      <app-tree-node
        [deep]="deep"
        [branch]="branch"
        [root]="true"
      ></app-tree-node>
    </div>
  </ng-template>
</div>
