.container {
  margin-top: 10px;
}
.container nz-card {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}
::ng-deep .ant-card-body {
  padding: 12px;
  height: 80px;
}

nz-card input {
  width: 50px;
}
.trigger {
  background-color: coral;
}
