<div class="container" fxLayout="row" fxLayoutAlign="space-evenly start">
  <div fxLayout="column" fxLayoutAlign="center center">
    <nz-card nzTitle="App Node" #appNode>
      <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <div>
          <label><b>Val:</b></label>
          <input type="number" [value]="byVal" (change)="onValChange($event)" />
        </div>
        <div>
          <label><b>Ref:</b></label>
          <input
            type="number"
            [value]="byRef.id"
            (change)="onRefChange($event)"
          />
        </div>
      </div>
    </nz-card>

    <app-tree-node
      [deep]="deep"
      [branch]="branch"
      [isRoot]="true"
      [byVal]="byVal"
      [byRef]="byRef"
      [max]="deep"
    ></app-tree-node>
  </div>
</div>
