<div class="container" fxLayout="row" fxLayoutAlign="space-evenly start">
  <div fxLayout="column" fxLayoutAlign="center center">
    <nz-card nzTitle="App Node" #appNode>
      <div
        class="card-body"
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
      >
        <!-- <button (click)="(onButtonClick)">click</button> -->
        <input type="number" [value]="pass" (change)="onInputChange($event)" />
      </div>
    </nz-card>

    <app-tree-node
      [deep]="deep"
      [branch]="branch"
      [isRoot]="true"
      [pass]="pass"
      [data]="data"
      [max]="deep"
    ></app-tree-node>
  </div>
</div>
