.config {
  margin-top: 20px;
  position: absolute;
  top: 40px;
  left: 40px;
  width: 300px;
  height: 300px;
  border: 1px solid;
}

.config .config-input {
  width: 130px;
}

.config .config-input label {
  width: 60px;
  height: 20px;
}

.config .config-input input {
  width: 60px;
  margin-top: 5px;
}

.container {
  margin-top: 20px;
}
.container nz-card {
  width: 150px;
  height: 230px;
  margin-right: 20px;
}
.container nz-card .card-body {
  height: 150px;
}
nz-card input {
  width: 50px;
}
.trigger {
  background-color: coral;
}
