.container {
  margin-top: 20px;
}
.container nz-card {
  width: 150px;
  height: 180px;
  margin-right: 20px;
}
.container nz-card .card-body {
  height: 150px;
}
nz-card input {
  width: 50px;
}
.trigger {
  background-color: coral;
}
